{% extends "emails/base.html" %}
{% block title %}Reset your Synapse password{% endblock %}
{% block content %}
<h1 style="margin:0 0 16px;font-size:20px;color:#0b0e2e;">Reset your password</h1>
<p style="margin:0 0 12px;">
  Reset your password using the button below.
</p>
{% include "emails/_cta_button.html" with cta_url=link cta_label="Reset password" %}
<p style="margin:16px 0 0;color:#6b7085;">
  If you did not request this, you can ignore this email. This link expires in 2 hours.
</p>
{% endblock %}
